@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root{
    --client: #f43726;
}

body{
    background-color: #9e9e9e !important;
    /* overflow-y: hidden; */
}

.hero{
    max-width: 450px;
    position: relative;
    height: 100vh;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 450px;
    z-index: 1;
    background-color: red;
    height: 50vh;
}

.goBack{
    border: 2px solid #000;
    border-radius: 50%;
}

.goBack i{
    color: #000;
}

.goBack + p{
    font-weight: 600;
    font-size: .875rem;
}

.main-view{
    position: relative;
    z-index: 10;
    overflow-y: auto;
    height: calc(-30px + 100vh);
    top: 50px;
    padding-bottom: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.fs-14{
    font-size: .9rem!important;
}

.fs-18{
    font-size: 1.125rem!important;
}

.fs-12{
    font-size: .75rem!important;
}

.fw-600{
    font-weight: 600!important;
}

.fw-400{
    font-weight: 400!important;
}

.fw-700{
    font-weight: 700!important;
}

.primary-input{
    background-color: #fff0a4!important;
    padding: 0.75rem 1rem!important;
    border: 0!important;
    border-radius: 10px!important;
    font-size: .9rem!important;
    font-weight: 400!important;
}

.secondary-btn {
    padding: .6rem 0!important;
    background-color: #fff0a4!important;
    border-color: #fff0a4!important;
    outline-color: #fff0a4!important;
    border: 2px solid #ffc107!important;
    color: #000
}

.primary-btn{
    padding: .6rem 0!important;
    background-color: #ffc107!important;
    border-color: #ffc107!important;
    outline-color: #ffc107!important;
    border: 2px solid #ffc107!important;
    font-size: .9rem!important;
    font-weight: 600!important;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.contactText{
    font-size: .9rem;
    font-weight: 600;
}

.fs-13{
    font-size: .8rem;
}

.viberphNo{
    font-size: 1rem;
    font-weight: bold;
}

.border-custom{
    border-color: #ffc107 !important;
    border-width: 2px;
    border-style: solid;
}

.bg-custom{
    background-color: #ffc107!important;
    color: #fff!important;
}

.text-custom{
    color: #ffc107;
}